name: Deploy to Netlify

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Add Netlify redirects
        run: |
          echo "/*    /index.html   200" > build/_redirects

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3
        with:
          publish-dir: ./build
          production-branch: main
        env:
          NETLIFY_AUTH_TOKEN: nfp_hxNYEuuMZNHz4UEmGiGSvi6vWf8iaS8Nc1c7
          NETLIFY_SITE_ID: 15b088d5-4edc-4960-973d-ae776cccb
